@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --primary-100: hsl(35, 77%, 62%);
  --primary-200: hsl(5, 85%, 63%);

  --neutral-100: hsl(36, 100%, 99%);
  --neutral-200: hsl(233, 8%, 79%);
  --neutral-300: hsl(236, 13%, 42%);
  --neutral-400: hsl(240, 100%, 5%);
}

/* .heading-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--neutral-400);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-100);
  font-family: "Inter", sans-serif;
}

p {
  font-size: 15px;
  line-height: 1.5;
  color: var(--neutral-300);
  font-weight: 500;
}

.container {
  margin: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.navbar img {
  width: 4vh;
}

.menu {
  height: 10%;
}

.menu-text {
  display: none;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-banner > img:nth-child(1) {
  display: none;
}

.hero-banner > img:nth-child(2) {
  width: 100%;
  height: auto;
  /* margin-top: 15px; */
}

.hero-banner h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

.hero-text {
  margin-top: 16px;
}

.button {
  background-color: var(--primary-200);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  padding: 12px 0px;
  margin-top: 20px;
  cursor: pointer;
}

.button p {
  color: #000;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #000;
}

.button:hover p {
  color: var(--neutral-100);
}

.news-section {
  background-color: #000;
  margin: 60px 0px;
  padding:  30px 20px;
}

.news-section h2 {
  color: var(--primary-100);
  font-size: 2rem;
}

.news-section div {
  margin: 30px 0px;
}

.news-section h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

.news-section:hover h3:hover {
  color: var(--primary-100);
}

.news-section p {
  color: var(--neutral-200);
  font-weight: 200;
}

hr {
  border-top: 0.1px solid var(--neutral-200);
}

.cards-section {
  display: flex;
  flex-direction: column;
}

.cards-section div {
  display: flex;
  margin-bottom: 45px;
}

.cards img {
  max-width: 30vw;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  gap: 20px;
}

.content h2 {
  color: var(--primary-200);
  font-size: 2rem;
  font-weight: 700;
}

.content h3 {
  font-weight: 900;
  font-size: 1rem;
}

.content h3:hover {
  cursor: pointer;
  color: var(--primary-200);
}

.content p {
  font-size: 15px;
}

.cards img {
  max-width: 8rem;
  height: auto;
}

@media only screen and (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: grid;
    max-width: 1250px;
  }

  .text {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .menu {
    display: none;
  }

  .menu-text {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .menu-text p:hover {
    color: var(--primary-100);
    cursor: pointer;
  }

  .hero-banner {
    grid-column : 1/ span 1;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 50rem;
    margin-right: 2rem;
  }

  .hero-banner > img:nth-child(2) {
    display: none;
  }

  .hero-banner > img:nth-child(1) {
    display: block;
    max-width: 50rem;
  }

  .hero-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .hero-text {
    margin-top: 0px;
  }

  .news-section {
    grid-column: 1/ span 1;
    margin: 60px 0px;
    min-width: 25%;
  }

  .news-section h2 {
    margin-bottom: 0;
  }

  .cards-section {
    grid-column: 1/ span 2;
    
  }
}

@media only screen and (min-width: 1200px) {
  .news-section {
    grid-column: 2/span 2;
    max-width: 25rem;
    margin: 0;
  }

  .cards-section {
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 60px;
    max-width: 75vw;
  }
}